In [4]:
import pandas as pd

In [40]:
df = pd.read_csv("assets/retail_store_sales.csv")

In [41]:
df.shape

(12575, 11)

In [42]:
df.drop_duplicates()
df = df.drop(columns=["Customer ID", "Transaction ID", "Item"])

In [38]:
df.head()

,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12575 entries, 0 to 12574
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Category          12575 non-null  object
 1   Price Per Unit    11966 non-null  float64
 2   Quantity          11971 non-null  float64
 3   Total Spent       11971 non-null  float64
 4   Payment Method    12575 non-null  object
 5   Location          12575 non-null  object
 6   Transaction Date  12575 non-null  object
 7   Discount Applied  8376 non-null   object
dtypes: float64(3), object(5)
memory usage: 786.1+ KB

In [44]:
df.nunique()

Category               8
Price Per Unit        25
Quantity              10
Total Spent          227
Payment Method         3
Location               2
Transaction Date    1114
Discount Applied       2
dtype: int64

In [45]:
df.isnull().sum()

Category               0
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [48]:
df[df["Quantity"].isnull() & df["Total Spent"].isnull()].isnull().sum()

Category              0
Price Per Unit        0
Quantity            604
Total Spent         604
Payment Method        0
Location              0
Transaction Date      0
Discount Applied    211
dtype: int64

In [49]:
df = df.dropna(subset=["Quantity", "Total Spent"], how="all")

In [ ]:

df.isnull().sum()

Category               0
Price Per Unit       609
Quantity               0
Total Spent            0
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    3988
dtype: int64

In [52]:
df.shape

(11971, 8)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11971 entries, 0 to 12574
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Category          11971 non-null  object
 1   Price Per Unit    11362 non-null  float64
 2   Quantity          11971 non-null  float64
 3   Total Spent       11971 non-null  float64
 4   Payment Method    11971 non-null  object
 5   Location          11971 non-null  object
 6   Transaction Date  11971 non-null  object
 7   Discount Applied  7983 non-null   object
dtypes: float64(3), object(5)
memory usage: 841.7+ KB

In [54]:
df["Price Per Unit"] = df["Price Per Unit"].fillna(df["Total Spent"] / df["Quantity"])

In [55]:
df.isnull().sum()

Category               0
Price Per Unit         0
Quantity               0
Total Spent            0
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    3988
dtype: int64

In [57]:
df.head()

,Category,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,Patisserie,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,Milk Products,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,Butchers,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,Beverages,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,Food,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False

In [58]:
df["Discount Applied"] = df["Discount Applied"].fillna("unKnown")

In [59]:
df

,Category,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,Patisserie,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,Milk Products,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,Butchers,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,Beverages,27.5,9.0,247.5,Credit Card,Online,2022-05-07,unKnown
4,Food,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
...,...,...,...,...,...,...,...,...
12570,Patisserie,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,unKnown
12571,Beverages,6.5,9.0,58.5,Cash,Online,2022-08-12,False
12572,Butchers,14.0,10.0,140.0,Cash,Online,2024-08-24,unKnown
12573,Furniture,14.0,6.0,84.0,Cash,Online,2023-12-30,True
12574,Food,17.0,3.0,51.0,Cash,Online,2022-08-06,unKnown

In [61]:
df.isnull().sum()

Category            0
Price Per Unit      0
Quantity            0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
Discount Applied    0
dtype: int64